* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.form-connect label {
	color: #e84e0e;
}

.form-control {
	background-color: #fff;
	display: block;
	width: 100%;
	padding: 6px 12px;
	font-size: 14px;
	font-family: inherit;
	color: #555;
	border: 1px solid #005067;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow
		ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out
		.15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgba(102, 175, 233, .6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
		rgba(102, 175, 233, .6);
}

.form-control::-moz-placeholder {
	color: #005067;
}

.form-control:-ms-input-placeholder {
	color: #005067;
}

.form-control::-webkit-input-placeholder {
	color: #005067;
}

.form-control[disabled] {
	background-color: #e84e0e;
	opacity: 1;
	cursor: not-allowed;
}

textarea .form-control {
	height: auto;
}

.has-success .form-control {
	border-color: #3c763d;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.has-success .form-control:focus {
	border-color: #2b542c;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168;
}

.has-error .form-control {
	border-color: #a94442;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.has-error .form-control:focus {
	border-color: #843534;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
}

.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus,
	.btn:active:focus, .btn:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

.btn.focus, .btn:focus, .btn:hover {
	color: #333;
	text-decoration: none;
}

.btn.active, .btn:active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.btn[disabled] {
	cursor: not-allowed;
	filter: alpha(opacity = 65);
	-webkit-box-shadow: none;
	box-shadow: none;
	opacity: .65;
}

.collapse {
	display: none;
}

.collapse.in {
	display: block;
}

.caret {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 2px;
	vertical-align: middle;
	border-top: 4px dashed;
	border-top: 4px solid\9;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}

.dropdown-toggle:focus {
	outline: 0;
}

.dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	font-size: 14px;
	text-align: left;
	list-style: none;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, .15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.dropdown-menu>li>a {
	display: block;
	padding: 3px 20px;
	font-weight: 400;
	line-height: 1.4;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
	background-color: #f5f5f5;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover
	{
	color: #fff;
	text-decoration: none;
	background-color: #337ab7;
	outline: 0;
}

.open>.dropdown-menu {
	display: block;
}

.dropdown-menu-right {
	right: 0;
	left: auto;
}

.dropdown-menu-left {
	right: auto;
	left: 0;
}

.btn .caret {
	margin-left: 0;
}

[data-toggle=buttons]>.btn input[type=checkbox] {
	position: absolute;
	clip: rect(0, 0, 0, 0);
	pointer-events: none;
}

.input-group {
	position: relative;
	display: table;
	border-collapse: separate;
}

.input-group[class*=col-] {
	float: none;
	padding-right: 0;
	padding-left: 0;
}

.input-group .form-control {
	position: relative;
	z-index: 2;
	float: left;
	width: 100%;
	margin-bottom: 0;
}

.input-group .form-control {
	display: table-cell;
}

.input-group .form-control:not (:first-child ):not (:last-child ) {
	border-radius: 0;
}

.input-group .form-control:first-child {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.input-group .form-control:last-child {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.nav {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}

.nav>li {
	display: block;
}

.nav>li>a {
	position: relative;
	display: block;
	padding: 10px 15px;
}

.nav>li>a:focus, .nav>li>a:hover {
	text-decoration: none;
	background-color: #eee;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
	background-color: #eee;
	border-color: #337ab7;
}

.nav>li>a>img {
	max-width: none;
}

.navbar {
	position: relative;
	min-height: 50px;
	margin-bottom: 20px;
	border: 1px solid transparent;
}

.navbar-bottom {
	color: #e84e0e;
}

.navbar-collapse {
	padding-right: 15px;
	padding-left: 15px;
	overflow-x: visible;
	-webkit-overflow-scrolling: touch;
	border-top: 1px solid transparent;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
}

.navbar-collapse.in {
	overflow-y: auto;
}

.navbar-fixed-top .navbar-collapse {
	max-height: 350px;
}

.container>.navbar-collapse, .container>.navbar-header {
	margin-right: -15px;
	margin-left: -15px;
}

.navbar-fixed-top {
	position: fixed;
	right: 0;
	left: 0;
	z-index: 10;
}

.navbar-fixed-top {
	top: 0;
	border-width: 0 0 1px;
}

.navbar-brand {
	float: left;
	height: 50px;
	padding: 15px 15px;
	font-size: 18px;
	line-height: 20px;
}

.navbar-brand:focus, .navbar-brand:hover {
	text-decoration: none;
}

.navbar-brand>img {
	display: block;
}

.navbar-toggle {
	position: relative;
	float: right;
	padding: 9px 10px;
	margin-top: 8px;
	margin-right: 15px;
	margin-bottom: 8px;
	background-color: transparent;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}

.navbar-toggle:focus {
	outline: 0;
}

.navbar-toggle .icon-bar {
	display: block;
	width: 22px;
	height: 2px;
	border-radius: 1px;
}

.navbar-toggle .icon-bar+.icon-bar {
	margin-top: 4px;
}

.navbar-nav {
	margin: 7.5px -15px;
}

.navbar-nav>li>a {
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 20px;
}

.navbar-nav>li>.dropdown-menu {
	margin-top: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.navbar-default {
	background-color: #005067;
	border-color: #e84e0e;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover
	{
	color: #e84e0e;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover
	{
	color: #f4753e;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus,
	.navbar-default .navbar-nav>.active>a:hover {
	background-color: #00b4e6;
}

.navbar-default .navbar-toggle {
	border-color: #e84e0e;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover
	{
	background-color: #00b4e6;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #e84e0e;
}

.navbar-default .navbar-collapse {
	border-color: #e84e0e;
}

.jumbotron {
	padding-top: 30px;
	padding-bottom: 30px;
	margin-bottom: 30px;
	color: inherit;
	background-color: #eee;
}

.jumbotron p {
	margin-bottom: 15px;
	font-size: 21px;
	font-weight: 200;
	color: #005067;
}

.container .jumbotron {
	border-radius: 6px;
}

.jumbotron .container {
	max-width: 100%;
}

.panel {
	margin-bottom: 20px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
	border: 1px solid #005067;
}

.panel-body {
	padding: 15px;
}

.panel .panel-heading:first-child {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.panel-heading {
	padding: 10px 15px;
}

.panel-navigation {
	padding: 10px 15px;
	background-color: rgba(253, 220, 206, 0.8);
	text-align: center;
	border: 1px solid #005067;
}

.container:after, .container:before, .nav:after, .nav:before,
	.navbar-collapse:after, .navbar-collapse:before, .navbar-header:after,
	.navbar-header:before, .navbar:after, .navbar:before, .panel-body:after,
	.panel-body:before {
	display: table;
	content: " ";
}

.container:after, .nav:after, .navbar-collapse:after, .navbar-header:after,
	.navbar:after, .panel-body:after {
	clear: both;
}

@media ( max-device-width :480px) and (orientation:landscape) {
	.navbar-fixed-top .navbar-collapse {
		max-height: 200px;
	}
}

@media ( max-width :767px) {
	.navbar-nav .open .dropdown-menu {
		position: static;
		float: none;
		width: auto;
		margin-top: 0;
		background-color: transparent;
		border: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	.navbar-nav .open .dropdown-menu>li>a {
		padding: 5px 15px 5px 25px;
	}
	.navbar-nav .open .dropdown-menu>li>a {
		line-height: 20px;
	}
	.navbar-nav .open .dropdown-menu>li>a:focus, .navbar-nav .open .dropdown-menu>li>a:hover
		{
		background-image: none;
	}
}

@media screen and (min-width:768px) {
	.jumbotron {
		padding-top: 48px;
		padding-bottom: 48px
	}
	.container .jumbotron {
		padding-right: 60px;
		padding-left: 60px;
	}
	.jumbotron .h1, .jumbotron h1 {
		font-size: 63px;
	}
}

@media ( min-width :768px) {
	.container {
		width: 750px;
	}
	.container>.navbar-header {
		margin-right: 0;
		margin-left: 0;
	}
	.navbar {
		border-radius: 4px;
	}
	.navbar-header {
		float: left;
	}
	.navbar-right .dropdown-menu {
		right: 0;
		left: auto;
	}
	.navbar-right .dropdown-menu-left {
		right: auto;
		left: 0;
	}
	.navbar-collapse {
		width: auto;
		border-top: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	.navbar-collapse.collapse {
		display: block !important;
		height: auto !important;
		padding-bottom: 0;
		overflow: visible !important;
	}
	.navbar-collapse.in {
		overflow-y: visible;
	}
	.navbar-fixed-top {
		border-radius: 0
	}
	.navbar-fixed-top .navbar-collapse {
		padding-right: 0;
		padding-left: 0;
	}
	.navbar>.container .navbar-brand {
		margin-left: -15px;
	}
	.navbar-toggle {
		display: none;
	}
	.navbar-nav {
		float: left;
		margin: 0;
	}
	.navbar-nav>li {
		float: left
	}
	.navbar-nav>li>a {
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.navbar-right {
		float: right !important;
		margin-right: -15px;
	}
	.navbar-right ~.navbar-right {
		margin-right: 0;
	}
}

@media ( min-width :992px) {
	.container {
		width: 970px;
	}
}

@media ( min-width :1200px) {
	.container {
		width: 1170px;
	}
}

.panel-navigation {
	padding: 10px 15px;
	background-color: rgba(253, 220, 206, 0.8);
	text-align: center;
	border: 1px solid #005067;
}

.container:after, .container:before, .nav:after, .nav:before,
	.navbar-collapse:after, .navbar-collapse:before, .navbar-header:after,
	.navbar-header:before, .navbar:after, .navbar:before, .panel-body:after,
	.panel-body:before {
	display: table;
	content: " ";
}

.container:after, .nav:after, .navbar-collapse:after, .navbar-header:after,
	.navbar:after, .panel-body:after {
	clear: both;
}

@media ( max-device-width :480px) and (orientation:landscape) {
	.navbar-fixed-top .navbar-collapse {
		max-height: 200px;
	}
}

@media ( max-width :767px) {
	.navbar-nav .open .dropdown-menu {
		position: static;
		float: none;
		width: auto;
		margin-top: 0;
		background-color: transparent;
		border: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	.navbar-nav .open .dropdown-menu>li>a {
		padding: 5px 15px 5px 25px;
	}
	.navbar-nav .open .dropdown-menu>li>a {
		line-height: 20px;
	}
	.navbar-nav .open .dropdown-menu>li>a:focus, .navbar-nav .open .dropdown-menu>li>a:hover
		{
		background-image: none;
	}
}

@media screen and (min-width:768px) {
	.jumbotron {
		padding-top: 48px;
		padding-bottom: 48px
	}
	.container .jumbotron {
		padding-right: 60px;
		padding-left: 60px;
	}
	.jumbotron .h1, .jumbotron h1 {
		font-size: 63px;
	}
}

@media ( min-width :768px) {
	.container {
		width: 750px;
	}
	.container>.navbar-header {
		margin-right: 0;
		margin-left: 0;
	}
	.navbar {
		border-radius: 4px;
	}
	.navbar-header {
		float: left;
	}
	.navbar-right .dropdown-menu {
		right: 0;
		left: auto;
	}
	.navbar-right .dropdown-menu-left {
		right: auto;
		left: 0;
	}
	.navbar-collapse {
		width: auto;
		border-top: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	.navbar-collapse
	.collapse {
		display: block !important;
		height: auto !important;
		padding-bottom: 0;
		overflow: visible !important;
	}
	.navbar-collapse .in {
		overflow-y: visible;
	}
	.navbar-fixed-top {
		border-radius: 0;
	}
	.navbar-fixed-top .navbar-collapse {
		padding-right: 0;
		padding-left: 0;
	}
	.navbar>.container .navbar-brand {
		margin-left: -15px;
	}
	.navbar-toggle {
		display: none;
	}
	.navbar-nav {
		float: left;
		margin: 0;
	}
	.navbar-nav>li {
		float: left;
	}
	.navbar-nav>li>a {
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.navbar-right {
		float: right !important;
		margin-right: -15px;
	}
	.navbar-right ~.navbar-right {
		margin-right: 0;
	}
}

@media ( min-width :992px) {
	.container {
		width: 970px;
	}
}

@media ( min-width :1200px) {
	.container {
		width: 1170px;
	}
}